<%- include('includes/start') %>
<%- include('includes/loginStyle') %>
<main class="form-signup w-100 m-auto">
    <form action="/signUp" method="POST">
        <h1 class="h3 mb-3 fw-normal">New Account</h1>
        <div class="form-floating">
            <input type="text" class="form-control first <%=('name' in errors) ? 'is-invalid' : ''%>" value="<%=data['name']%>" id="floatingName" name="name"  placeholder="Name" aria-describedby="validationServerNameFeedback">
            <label for="floatingName">Name</label>
            <div id="validationServerNameFeedback" class="invalid-feedback">
                <%=('name' in errors) ? errors['name'].msg : ''%>
            </div>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control <%=('email' in errors) ? 'is-invalid' : ''%>" value="<%=data['email']%>" id="floatingEmail" name="email"  placeholder="Email" aria-describedby="validationServerEmailFeedback" required>
            <label for="floatingEmail">E-mail</label>
            <div id="validationServerEmailFeedback" class="invalid-feedback">
                <%=('email' in errors) ? errors['email'].msg : ''%>
            </div>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control <%=('login' in errors) ? 'is-invalid' : ''%>" value="<%=data['login']%>" id="floatingLogin" name="login"  placeholder="Login" aria-describedby="validationServerLoginFeedback" required>
            <label for="floatingLogin">Username</label>
            <div id="validationServerLoginFeedback" class="invalid-feedback">
                <%=('login' in errors) ? errors['login'].msg : ''%>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control <%=('password' in errors) ? 'is-invalid' : ''%>" id="floatingPassword" name="password" placeholder="Password" aria-describedby="validationServerPasswordFeedback" required>
            <label for="floatingPassword">Password</label>
            <div id="validationServerPasswordFeedback" class="invalid-feedback">
                <%=('password' in errors) ? errors['password'].msg : ''%>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control last <%=('confirmPassword' in errors) ? 'is-invalid' : ''%>" id="floatingConfirmPassword" name="confirmPassword" placeholder="Confirm password" aria-describedby="validationServerConfirmPasswordFeedback" required>
            <label for="floatingConfirmPassword">Confirm password</label>
            <div id="validationServerPasswordFeedback" class="invalid-feedback">
                <%=('confirmPassword' in errors) ? errors['confirmPassword'].msg : ''%>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    </form>
    <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/signIn">Sign in instead.</a>
</main>
<!--
<% if (errors.length > 0) {%>
    <% for (let error of errors) {%>
        <div><div class="popup error show"><%= error%></div></div>
    <% } %>
<% } %> -->
<%- include('includes/end') %>