<%- include('includes/start') %>
<%- include('includes/loginStyle') %>

<main class="form-signin w-100 m-auto">
  <form action="/signIn" method="POST">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control first" id="floatingInput" name="email"  placeholder="E-mail">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control last" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
  <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/signUp">Create an account</a>

  <div class="mt-2">
    <div id="g_id_onload"
      data-client_id="956563639765-73e8upjssrbj6e6l814i0sg5mvh6cs4g.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="https://jv-nodejs-login.onrender.com/signInWithGoogle"
      data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="signin_with."
      data-size="large"
      data-locale="en-US"
      data-logo_alignment="left">
    </div>
  </div>

  <% if (errors.nonFieldErrors) {%>
    <% for (let error of errors.nonFieldErrors) {%>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              <%= error %>
            </div>
            <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>
</main>
<%- include('includes/end') %>